header{
    background-color: #0d6efd;
    display: flex;
}

.text-header{
    display: inline-block;
    margin: 1% auto;
}

header h1, header h6{
    color: white;
}

.buttons-header{
    margin: auto auto;
}

.buttons-header button{
    font-size: 30px;
    margin: auto 40px;
}
section{
    color: gray;
}

aside{
    display: inline-flex;
    align-items: center;
    width: 90% !important;
}

aside form{
    background-color: lightgray;
    padding: 2%;
    border-radius: 2%;
}

aside form button, aside form input{
    margin-top: 5%;
}

.client{
    margin: auto 30%;
}

section h3{
    margin: 2% 2%;
}

.client{
    margin: 3% auto;
    margin-bottom: 50px !important;
}

.product{
    margin: auto 3%;
    margin-bottom: 50px !important;
}

.client-list, .product-list{
    margin: auto 3%;
}

.txt-bold{
    font-weight: bolder;
}

.txt-italic{
    font-style: italic;
}

.form-product{
    margin: 8% auto !important;
    padding: 5%;
}

nav{
    margin-top: 50px;
}