.navbar{
    padding-bottom: 20px;
}

.nav-txt{
    margin-top: 10px;
    margin-left: 25px !important;
    margin-right: 25px !important;
    margin-bottom: 0;
}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.headbtn{
    margin: 1% 5%;
}

.widthget{
    margin: 1.5% auto;
}

.navbar-custom {
    background-color: #C1C1C1;
}

.nav-item{
    margin: 2% 5% !important;
    margin-bottom: 0 !important;
    padding: 0 0;
}

.txt-bar{
    padding-top: 2%;
    font-size: 120%;
    font-weight: bolder;
    color: #575852;
    border-bottom: 2px solid #575852;
    background-color: #C1C1C1;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.canvas-init{
    border-left: 5px solid #837D7F !important;
    border-top: 5px solid #837D7F;
}

.canvas-goma{
    border-left: 5px solid #837D7F !important;
    border-top: 5px solid #837D7F;
    cursor: url('../img/goma.png'), default;
}

.canvas-lapiz{
    border-left: 5px solid #837D7F !important;
    border-top: 5px solid #837D7F;
    cursor: url('../img/cursorlapiz.png'), default;
}

.left-col{
    background-color: #C1C1C1;
    width: 150px;
    height: 556px;
}

.fix-padding{
    padding-right: 0 !important;
    padding-left: 0 !important;
}

table{
    margin: 15% auto;
    width: 80%;
}

tr{
    height: 40px !important;
}

.table-btn{
    margin: 0 0;
    width: 100%;
    height: 50px;
    background-color: white;
    margin: auto 1px;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: #C1C1C1;
    margin-bottom: 0;
}

.drawer{
    height: 500px;
}

.table-tools{
    margin-top: 0px !important;
}

.display-row{
    display: flex;
    flex-direction: row;
}

.subtable{
    margin-top: 0%;
}

.subtable-td{
    height: 60px;
}

.txt-inp{
    margin-top: 25px;
    margin-bottom: 0px !important;
}

.text-tool{
    margin-top: 30px;
    margin-bottom: 0px !important;
}

.txt-img{
    margin-top: 60px !important;
    margin-bottom: 0px !important;
}

.rangebar{
    text-align: center;
    margin-right: 8%;
    margin-bottom: 4%;
}

/* se ejecuta cuando el largo es menor */
@media (max-width: 992px){

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .txt-bar{
        font-size: 100%;
    }
}   

.collapse:not(.show) {
    display: inherit;
}

.container-max{
    width: 100%;
    background-color: #C1C1C1;
}

.lapiz-icon{
    width: 60px;
    background-image: url(../img/lapizicon.png);
    background-repeat: no-repeat;
    background-position: center;
}

.goma-icon{
    width: 60px;
    background-image: url(../img/goma.png);
    background-repeat: no-repeat;
    background-position: center;
}

.current-selected-button{
    border: 3px dashed red;
}

.display-none{
    display: none;
}

#coloursize{
    margin-left: 10px;
}

.img-footer{
    margin-bottom: 10px;
}