<h3>Lista de clientes</h3>

<aside>
    <div class="client-list" id="target"></div>

    <div>
        <form action="#" data-method="POST">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" name="name"/>
                <button type="submit" class="btn btn-primary">Guardar combios</button>  
            </div>
        </form>
</aside>
<pagination-component class="d-flex justify-content-center"></pagination-component>